Channel/Service References/LingKaiService/linkWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="WapSend">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CorpID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Mobile" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="WebSite" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cell" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WapSendResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="WapSendResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReportFail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CorpID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cell" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReportFailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetReportFailResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BatchSend">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CorpID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Mobile" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Content" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Cell" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SendTime" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BatchSendResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="BatchSendResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Reg">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CorpID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CorpName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LinkMan" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Tel" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Mobile" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Memo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RegResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdPwd">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CorpID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NewPwd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdPwdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdPwdResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdReg">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CorpID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CorpName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LinkMan" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Tel" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Mobile" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Memo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdRegResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdRegResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelSum">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CorpID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pwd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelSumResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SelSumResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Send">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CorpID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Mobile" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Content" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Cell" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SendTime" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CorpID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pwd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UnReg">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CorpID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pwd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UnRegResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UnRegResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChargeUp">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CorpID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CardNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CardPwd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChargeUpResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ChargeUpResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ShowMessage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CorpID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pwd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ShowMessageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ShowMessageResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetVer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Ver" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetVerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetVerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUpdateData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Ver" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUpdateDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUpdateDataResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="WapSendSoapIn">
    <wsdl:part name="parameters" element="tns:WapSend" />
  </wsdl:message>
  <wsdl:message name="WapSendSoapOut">
    <wsdl:part name="parameters" element="tns:WapSendResponse" />
  </wsdl:message>
  <wsdl:message name="GetReportFailSoapIn">
    <wsdl:part name="parameters" element="tns:GetReportFail" />
  </wsdl:message>
  <wsdl:message name="GetReportFailSoapOut">
    <wsdl:part name="parameters" element="tns:GetReportFailResponse" />
  </wsdl:message>
  <wsdl:message name="BatchSendSoapIn">
    <wsdl:part name="parameters" element="tns:BatchSend" />
  </wsdl:message>
  <wsdl:message name="BatchSendSoapOut">
    <wsdl:part name="parameters" element="tns:BatchSendResponse" />
  </wsdl:message>
  <wsdl:message name="RegSoapIn">
    <wsdl:part name="parameters" element="tns:Reg" />
  </wsdl:message>
  <wsdl:message name="RegSoapOut">
    <wsdl:part name="parameters" element="tns:RegResponse" />
  </wsdl:message>
  <wsdl:message name="UpdPwdSoapIn">
    <wsdl:part name="parameters" element="tns:UpdPwd" />
  </wsdl:message>
  <wsdl:message name="UpdPwdSoapOut">
    <wsdl:part name="parameters" element="tns:UpdPwdResponse" />
  </wsdl:message>
  <wsdl:message name="UpdRegSoapIn">
    <wsdl:part name="parameters" element="tns:UpdReg" />
  </wsdl:message>
  <wsdl:message name="UpdRegSoapOut">
    <wsdl:part name="parameters" element="tns:UpdRegResponse" />
  </wsdl:message>
  <wsdl:message name="SelSumSoapIn">
    <wsdl:part name="parameters" element="tns:SelSum" />
  </wsdl:message>
  <wsdl:message name="SelSumSoapOut">
    <wsdl:part name="parameters" element="tns:SelSumResponse" />
  </wsdl:message>
  <wsdl:message name="SendSoapIn">
    <wsdl:part name="parameters" element="tns:Send" />
  </wsdl:message>
  <wsdl:message name="SendSoapOut">
    <wsdl:part name="parameters" element="tns:SendResponse" />
  </wsdl:message>
  <wsdl:message name="GetSoapIn">
    <wsdl:part name="parameters" element="tns:Get" />
  </wsdl:message>
  <wsdl:message name="GetSoapOut">
    <wsdl:part name="parameters" element="tns:GetResponse" />
  </wsdl:message>
  <wsdl:message name="UnRegSoapIn">
    <wsdl:part name="parameters" element="tns:UnReg" />
  </wsdl:message>
  <wsdl:message name="UnRegSoapOut">
    <wsdl:part name="parameters" element="tns:UnRegResponse" />
  </wsdl:message>
  <wsdl:message name="ChargeUpSoapIn">
    <wsdl:part name="parameters" element="tns:ChargeUp" />
  </wsdl:message>
  <wsdl:message name="ChargeUpSoapOut">
    <wsdl:part name="parameters" element="tns:ChargeUpResponse" />
  </wsdl:message>
  <wsdl:message name="ShowMessageSoapIn">
    <wsdl:part name="parameters" element="tns:ShowMessage" />
  </wsdl:message>
  <wsdl:message name="ShowMessageSoapOut">
    <wsdl:part name="parameters" element="tns:ShowMessageResponse" />
  </wsdl:message>
  <wsdl:message name="GetVerSoapIn">
    <wsdl:part name="parameters" element="tns:GetVer" />
  </wsdl:message>
  <wsdl:message name="GetVerSoapOut">
    <wsdl:part name="parameters" element="tns:GetVerResponse" />
  </wsdl:message>
  <wsdl:message name="GetUpdateDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetUpdateData" />
  </wsdl:message>
  <wsdl:message name="GetUpdateDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetUpdateDataResponse" />
  </wsdl:message>
  <wsdl:portType name="LinkWSSoap">
    <wsdl:operation name="WapSend">
      <wsdl:input message="tns:WapSendSoapIn" />
      <wsdl:output message="tns:WapSendSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetReportFail">
      <wsdl:input message="tns:GetReportFailSoapIn" />
      <wsdl:output message="tns:GetReportFailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BatchSend">
      <wsdl:input message="tns:BatchSendSoapIn" />
      <wsdl:output message="tns:BatchSendSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Reg">
      <wsdl:input message="tns:RegSoapIn" />
      <wsdl:output message="tns:RegSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdPwd">
      <wsdl:input message="tns:UpdPwdSoapIn" />
      <wsdl:output message="tns:UpdPwdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdReg">
      <wsdl:input message="tns:UpdRegSoapIn" />
      <wsdl:output message="tns:UpdRegSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelSum">
      <wsdl:input message="tns:SelSumSoapIn" />
      <wsdl:output message="tns:SelSumSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Send">
      <wsdl:input message="tns:SendSoapIn" />
      <wsdl:output message="tns:SendSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Get">
      <wsdl:input message="tns:GetSoapIn" />
      <wsdl:output message="tns:GetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UnReg">
      <wsdl:input message="tns:UnRegSoapIn" />
      <wsdl:output message="tns:UnRegSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ChargeUp">
      <wsdl:input message="tns:ChargeUpSoapIn" />
      <wsdl:output message="tns:ChargeUpSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ShowMessage">
      <wsdl:input message="tns:ShowMessageSoapIn" />
      <wsdl:output message="tns:ShowMessageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetVer">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">取得更新版本</wsdl:documentation>
      <wsdl:input message="tns:GetVerSoapIn" />
      <wsdl:output message="tns:GetVerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUpdateData">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">在线更新软件</wsdl:documentation>
      <wsdl:input message="tns:GetUpdateDataSoapIn" />
      <wsdl:output message="tns:GetUpdateDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LinkWSSoap" type="tns:LinkWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WapSend">
      <soap:operation soapAction="http://tempuri.org/WapSend" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReportFail">
      <soap:operation soapAction="http://tempuri.org/GetReportFail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BatchSend">
      <soap:operation soapAction="http://tempuri.org/BatchSend" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Reg">
      <soap:operation soapAction="http://tempuri.org/Reg" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdPwd">
      <soap:operation soapAction="http://tempuri.org/UpdPwd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdReg">
      <soap:operation soapAction="http://tempuri.org/UpdReg" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelSum">
      <soap:operation soapAction="http://tempuri.org/SelSum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Send">
      <soap:operation soapAction="http://tempuri.org/Send" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get">
      <soap:operation soapAction="http://tempuri.org/Get" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnReg">
      <soap:operation soapAction="http://tempuri.org/UnReg" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChargeUp">
      <soap:operation soapAction="http://tempuri.org/ChargeUp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowMessage">
      <soap:operation soapAction="http://tempuri.org/ShowMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVer">
      <soap:operation soapAction="http://tempuri.org/GetVer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpdateData">
      <soap:operation soapAction="http://tempuri.org/GetUpdateData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LinkWSSoap12" type="tns:LinkWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WapSend">
      <soap12:operation soapAction="http://tempuri.org/WapSend" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReportFail">
      <soap12:operation soapAction="http://tempuri.org/GetReportFail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BatchSend">
      <soap12:operation soapAction="http://tempuri.org/BatchSend" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Reg">
      <soap12:operation soapAction="http://tempuri.org/Reg" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdPwd">
      <soap12:operation soapAction="http://tempuri.org/UpdPwd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdReg">
      <soap12:operation soapAction="http://tempuri.org/UpdReg" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelSum">
      <soap12:operation soapAction="http://tempuri.org/SelSum" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Send">
      <soap12:operation soapAction="http://tempuri.org/Send" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get">
      <soap12:operation soapAction="http://tempuri.org/Get" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnReg">
      <soap12:operation soapAction="http://tempuri.org/UnReg" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChargeUp">
      <soap12:operation soapAction="http://tempuri.org/ChargeUp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowMessage">
      <soap12:operation soapAction="http://tempuri.org/ShowMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVer">
      <soap12:operation soapAction="http://tempuri.org/GetVer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpdateData">
      <soap12:operation soapAction="http://tempuri.org/GetUpdateData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LinkWS">
    <wsdl:port name="LinkWSSoap" binding="tns:LinkWSSoap">
      <soap:address location="http://mb345.com/WS/linkWS.asmx" />
    </wsdl:port>
    <wsdl:port name="LinkWSSoap12" binding="tns:LinkWSSoap12">
      <soap12:address location="http://mb345.com/WS/linkWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>